body {
  background-color: rgb(8, 112, 60);
  text-align: center;
}

h1 {
  color: white;
}

.poker-table {
  height: 300px;
  width: 70%;
  background-color: rgb(8, 112, 60);
  margin: 25px auto;
  padding: 10px;
  border-style: solid;
  border-color: gold;
  border-width: 5px;
  border-radius: 25%;
}

.player-hand {
  height: 130px;
  width: fit-content;
  background-color: rgb(8, 112, 60);
  margin: 15px auto;
}

.cardEl {
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(#14f6ab, #e9f088);
  border-radius: 5px;
  display: inline-block;
  height: 75px;
  width: 50px;
  vertical-align: top;
}

.card {
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  height: 75px;
  width: 50px;
  vertical-align: top;
}

.card:active {
  padding: 10px;
  margin: 10px;
  background-color: green;
  border-radius: 5px;
  display: inline-block;
  height: 75px;
  width: 50px;
  vertical-align: top;
}

.suit {
  margin: 5px;
  font-size: 20px;
}

.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.middle-table {
  height: 40px;
  width: 75%;
  background-color: rgb(8, 112, 60) e;
  margin: 10px auto;
}

.bottom-table {
  height: fit-content;
  width: 75%;
  background-color: rgb(8, 112, 60);
  margin: 10px auto;
  display: inline-block;
  color: white;
}

.tutorial-button {
  background-image: "poker-chip.png";
  border-radius: 50%;
  border-color: white;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  background-color: rgb(8, 112, 60);
  color: whitesmoke;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: medium;
}

#deal-button {
  margin: auto 25px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 30%;
  border-color: white;
  background-color: rgb(8, 112, 60);
  color: whitesmoke;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: medium;
}

.discard-button {
  margin: auto 25px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 30%;
  border-color: white;
  background-color: rgb(8, 112, 60);
  color: whitesmoke;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: medium;
}

/* .left-bet-container {
  height: 40px;
  width: 100px;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

.right-bet-container {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  display: inline-block;
} */

/* .bet-button {
  margin: auto;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
} */

.credit-container {
  display: inline-block;
  height: 50px;
  width: 100px;
  margin: 0 25px;
  /* border-style: solid; */
  /* border-color: gold; */
}

.display-msg-container {
  height: 50px;
  width: 200px;
  margin: 0 25px;
  /* border-style: solid;
  border-color: gold; */
  display: inline-block;
}
