body {
  background-color: rgb(8, 112, 60);
  text-align: center;
}

h1 {
  color: white;
}

.poker-table {
  height: 300px;
  width: 60%;
  background-color: rgb(8, 112, 60);
  margin: 25px auto;
  padding: 10px;
  border-style: solid;
  border-color: gold;
  border-width: 5px;
  border-radius: 25%;
}

.player-hand {
  height: 150px;
  width: fit-content;
  background-color: rgb(8, 112, 60);
  margin: 15px auto;
}

.cardEl {
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(#08bef5, #bcd5f6);
  border-radius: 5px;
  display: inline-block;
  height: 75px;
  width: 50px;
  vertical-align: top;
}

.middle-table {
  height: 40px;
  width: 75%;
  background-color: white;
  margin: 10px auto;
}

.bottom-table {
  height: 40px;
  width: 75%;
  background-color: white;
  margin: 10px auto;
}

.deal-button {
  margin: auto;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 25%;
}

.left-bet-container {
  height: 40px;
  width: 100px;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

.right-bet-container {
  height: 40px;
  width: 50px;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

.bet-button {
  margin: auto;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}
