body {
  background-color: rgb(8, 112, 60);
  text-align: center;
}

h1 {
  color: white;
}

.poker-table {
  height: 300px;
  width: 60%;
  background-color: rgb(8, 112, 60);
  margin: 25px auto;
  padding: 10px;
  border-style: solid;
  border-color: gold;
  border-width: 5px;
  border-radius: 25%;
}

.player-hand {
  height: 150px;
  width: 300px;
  background-color: white;
  margin: 15px auto;
}

.start-button {
  margin: auto;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 25%;
}
